body {
  width: 100%;
  height: 100%;
  margin: 0px;


}
header {
  background-color: linen;
}

.container {
  border: 1px solid #000;
  padding:5px 0px 0px 0px;
  /* position: relative; */
  width: 100%;
  height: 100%;
  margin: 0px;
}
#heading{
  text-align: center;
}

#toolbar {
border: 1px solid black;
float: left;
}

#canvas {
  display: block;
  height: 500px;
  width: 100%;;
  background-color: mistyrose;
}



#red {
  background-color: red;
  height: 50px;
  width: 50px;
}
#orange {
  background-color: orange;
  height: 50px;
  width: 50px;
}
#yellow {
  background-color: yellow;
  height: 50px;
  width: 50px;
}
#green {
  background-color: green;
  height: 50px;
  width: 50px;
}
#blue {
  background-color: blue;
  height: 50px;
  width: 50px;
}
#purple {
  background-color: purple;
  height: 50px;
  width: 50px;
}
#pink {
  background-color: pink;
  height: 50px;
  width: 50px;
}
#black {
  background-color: black;
  height: 50px;
  width: 50px;
}
#white {
  background-color: white;
  height: 50px;
  width: 50px;
}
